%h1 Welcome to Moai Docs!

%h2 Choose a project

- @projects.each do |project|
  %h3= link_to project, project_path(project)

%p If you find a bug in the docs please report them to #{ link_to "moaisupport@ziplinegames.com", "mailto:moaisupport@ziplinegames.com" }
