.row
  .span8
    %h1= @doc_class

.row
  .span6
    = sanitize ( @doc_class.description )
  .span2
    %h5 Methods
    - @doc_class.doc_methods.each do |doc_method|
      = link_to doc_method, project_doc_class_doc_method_path(@project, @doc_class, doc_method)

%hr

= render partial: '/shared/disqus'