.row
  .span6
    %h1= @project.name
    %p= @project.description
  .span2
    %h3 Overview

.row
  .span6
    %h2 Classes
    %ul
    - @project.doc_classes.each do |doc_class|
      %li= link_to doc_class, project_doc_class_path(@project, doc_class)
