.row
  .span8
    %h1 #{@project.name} version #{@version.version_name}

.row
  .span6
    %h2 Classes
    %ul
    - @version.doc_classes.each do |doc_class|
      %li= link_to doc_class, project_api_version_doc_class_path(@project, @version, doc_class)
