!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Moai Docs"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Moai Docs", root_url, class: "brand"
          .container.nav-collapse
            %ul.nav
              - Project.all.each do |p|
                %li= link_to p.name, project_path(p)
            %form{ class: "navbar-form pull-right" } 
              %input{ type: "text", class: "span2" }
              %button{ type: "submit", class: "btn"} Search

    .container.content
      .row
        .span9
          = bootstrap_flash
          = yield
        .span3
          / .well.sidebar-nav
          /   %h3 Sidebar
          /   %ul.nav.nav-list
          /     %li.nav-header Sidebar
          /     %li= link_to "Link 1", "/path1"
          /     %li= link_to "Link 2", "/path2"
          /     %li= link_to "Link 3", "/path3"
    
      %footer
        %p &copy; Zipline Games 2013
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
